
.presentacion__imagen {
    width: 100%;
    padding: 1rem;
}

// Mixin //
@mixin imagenGrande ($ancho, $alto, $bg-size, $padding, $justify) {
    width: $ancho;
    height: $alto;
    background-size: $bg-size;
    padding: $padding;
    justify-content: $justify;
}

.imagenContacto,
.imagenInformacionUtil,
.imagenSeguros {
    @include imagenGrande (100vw, auto, cover, 1rem, center);
}
