@import "reset";
@import "font";
@import "color";
@import "images";
@import "animation";

body,
.navbar {
    background-image: $bg;
}

//* Pagina Inicio *//

// Extend //
.cuadradoTitulos {
    padding: 1rem;
}

.container__redes {
    @extend .cuadradoTitulos;
}


//*Pagina Quien Soy*//
.presentacion {
    display: flex;
    flex-direction: column;
}

.presentacion__div,
.marcas__subtitulo {
    padding: 1rem;
}

.presentacion__titulo {
    font-size: 1.5rem;
    justify-content: center;
}

.presentacion__texto {
    font-size: 1rem;
}

.carousel {
    display: flex;
    padding: 1rem;
    max-width: 800px;
    justify-content: center;
}


//* Pagina Informacion Util *//
.card {
    height: auto;
    padding: 0.6rem;
    margin: 1rem;
    gap: 1rem;
}


//* Pagina Contacto *//
.contacto {
    display: flex;
    flex-direction: column;
    padding: 0 1.5em 0 1.5em;
    gap: 2em;
}

.contacto__informacion,
.contacto__mensaje {
    width: 100%;
}

.contacto__titulo,
.contacto__subtitulo {
    font-size: 1.5rem;
}

// Extend //
.botonEnviar {
    background-color: white;
    color: #e58e71;
    border-radius: 2px solid;
    padding: 0.5rem;
    font-weight: bold;
}

.botonVerMas {
    @extend .botonEnviar;
}


@media screen and (min-width: 576px) {
    .contacto {
        flex-direction: row;
        padding: 4em 3em 0 3em;
    }

    .active {
        background-color: white;
        border-radius: 30%;
    }
}

@media screen and (min-width: 992px) {

    .presentacion {
        flex-direction: row;
    }
    .presentacion__div {
        justify-content: end;
    }
    .presentacion__imagen {
        justify-content: start;
    }
}