.cuadradoTitulos {
    padding: 2rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

footer {
    padding-top: 2rem;
}


.containerContacto {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
}

.contacto {
    margin: 1rem;
}

.imagenContacto {
    width: 100%;
    padding: 2rem;
}

@media screen and (min-width: 576px) {
    body {
        background-color: aquamarine;
    }
    .informacionContacto{
        width: 50%;
    }
    .mensajeContacto {
        width: 50%
    }
     .containterContacto {
        flex-direction: row;
    }
}